In [1]:
a=10
b=55

In [2]:
a+b

65

In [3]:
type(a)

int

In [4]:
# Floating numbers / Flaot 

c = 7.1
d = 8.6
e = 7.0

In [5]:
c + d

15.7

In [6]:
type(e)

float

In [7]:
name = "Dilip Gondhali"
name1 = "kumara veera venkatesh"

In [8]:
name1

'kumara veera venkatesh'

In [9]:
name + " space " +name1

'Dilip Gondhali space kumara veera venkatesh'

In [10]:
type(name)

str

In [11]:
lst = ["Sai", 10, 7186, 126.43, [1,2,3]]

In [12]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3]]

In [13]:
lst[0]

'Sai'

In [14]:
lst[4][2]

3

In [15]:
lst.append("Kiran")  # append actually adds the values in the end of the list

In [16]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3], 'Kiran']

In [17]:
lst.index(10)

1

In [18]:
lst[-1]

'Kiran'

In [19]:
lst[-5]

10

In [20]:
lst[1]

10

In [21]:
lst[-2][1]

2

In [23]:
dit = {"name":"DilipGondhali", "age":"30",
       "number":123456,"email":"dilipomi@gmail.com"}

In [24]:
dit

{'name': 'DilipGondhali',
 'age': '30',
 'number': 123456,
 'email': 'dilipomi@gmail.com'}

In [25]:
dit.get('name')

'DilipGondhali'

In [26]:
dit["name"]

'DilipGondhali'

In [27]:
dit.items()

dict_items([('name', 'DilipGondhali'), ('age', '30'), ('number', 123456), ('email', 'dilipomi@gmail.com')])

In [28]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [29]:
dit.pop("name")

'DilipGondhali'

In [30]:
dit

{'age': '30', 'number': 123456, 'email': 'dilipomi@gmail.com'}

In [31]:
dit["School"] = "KVS"

In [32]:
dit

{'age': '30', 'number': 123456, 'email': 'dilipomi@gmail.com', 'School': 'KVS'}

In [33]:
type(dit)

dict

In [34]:
st = {"Dilip","letsupgrade",1,2,3,4,4,5,6,5,5}

In [35]:
st

{1, 2, 3, 4, 5, 6, 'Dilip', 'letsupgrade'}

In [36]:
st1 = {"Dilip",1}

In [37]:
str1

NameError: name 'str1' is not defined

In [38]:
st1.issubset(st)

True

In [39]:
tup = ("Dilip","@","Letsupgrade.in")

In [40]:
tup

('Dilip', '@', 'Letsupgrade.in')

In [41]:
tup.count("@")

1

In [42]:
tup.index("Letsupgrade.in")

2

In [43]:
abc = True

In [44]:
xyz = False